.details-mock {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: var(--gap-lg-xx);
  background: var(--bg-cinema-deep);
  border: var(--border-sm) solid var(--border);
  border-radius: var(--gap-sm);
  padding: var(--gap-lg-x);
  margin: var(--gap-lg);

  h1 {
    justify-self: center;
    border-bottom: var(--border-sm) solid var(--gold-dim);
  }
}
.details-mock img {
  width: 100%;
  border-radius: var(--radius);
  aspect-ratio: 2/3;
  object-fit: cover;
}
.details-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  color: var(--paper-dim);
  margin: 0 0 var(--radius);
  padding: 1rem;
}
.details-tags {
  padding-top: 1rem;
  display: flex;
  gap: var(--gap-sm);
  margin-bottom: var(--gap-md);
  flex-wrap: wrap;
}
.tag {
  border: var(--border-sm) solid var(--gold-dim);
  color: var(--gold);
  font-size: 12.5px;
  padding: var(--gap-sm-l) var(--gap-md);
  border-radius: var(--radius-pill);
}
.details-desc {
  color: var(--paper-dim);
  line-height: 1.7;
  font-size: 15px;
  max-width: 560px;
  margin-bottom: var(--gap-lg);
  display: block;
}
.details-actions {
  display: flex;
  gap: var(--gap-md);
}
.btn-primary {
  background: var(--gold);
  color: var(--ink);
  border: none;
  padding: var(--gap-md) var(--gap-lg);
  border-radius: var(--radius-pill);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.rating-pill {
  background-color: var(vilent);
  color: var(--gold);
  align-self: center;
  font-size: larger;
}

.btn-ghost {
  background: transparent;
  color: var(--paper-dim);
  border: var(--border-sm) solid rgba(245, 240, 230, 0.3);
  padding: var(--gap-md) var(--gap-lg);
  border-radius: var(--radius-pill);
  font-weight: 600;
  font-size: var(--gap-md);
  cursor: pointer;
}
.img-details {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
}
