img {
    border-radius: 3px;
}
.detail-movie {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  /* max-width: 1100px; */
  max-height: px;
  gap: 1rem;
  align-items: center;
}

.d {
    padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  
}

button {
    border: none;
    background: none;
    font-size: xx-large;
    padding: 1rem;
    display: flex;
    justify-self: start;
}

button:hover {
    background-color: #444445;
    transform:translateY(1s);
    border-radius: 1rem;
    /* lighting-color: white; */
    /* lighting-color: red; */
}